* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fbfbfb;
    color: #1e293b;
    transition: background-color 0.2s, color 0.2s;
    line-height: 1.5;
}


.app-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.app-header {
    background-color: #f8f2fc;
    padding: 16px 0;
    border-bottom: 1px solid #e2e8f0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    position: sticky;
    top: 0;
    z-index: 10;
    transition: background-color 0.2s, color 0.2s;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px;
}

.app-header h1{
    font-size: 20px;
    font-weight: 700;
    color: #6366f1;
}

.add-task-btn{
    display: flex;
    align-items: center;
    gap: 0.5px;
    background-color: #6366f1;
    color: white;
    border: none;
    padding: 8px;
    border-radius: 8px;

}

.add-modal-content{
    background-color: white;
    border-radius: 8px;
    width: 90%;
    max-width: 500px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);

}

.add-modal-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #e2e8f0;
    
}

.add-form-group{
    margin-bottom: 20px;
}

.form-group input[type="text"],
.form-group input[type="date"]{
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    background-color: #fbfbfb;
    color: #1e293b;
    font-size: 16px;
    transition: border-color 0.2s;
}

.form-group input[type="text"]:focus,
.form-group input[type="date"]:focus{
    outline: none;
    border-color: #6366f1;
    box-shadow: 0 0 0 2px rgba(99, 102, 241, 0.1);
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
}